/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


/* commons */

.text-title, .link{
  padding-bottom: 10px;
  color: rgb(90, 4, 90);
}

.link{
  padding-top: 10px;
  color: rgb(90, 4, 90);
}



/* hero */

.hero {
  background-image: url("../public/assets/hero.jpg");
  background-size: cover;
  height: 500px;
  animation-duration: 3s;
  animation-name: fadein;

}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1
  }
}

.hero-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
}

.filling {
  padding: 70px 0;
} 

.logo-container {
  margin-left: 110px;
  padding-top: 20px;
}

.logo {
  width: 160px;
}

.greetings {
  color: whitesmoke;
}

.greetings-text-2{
  padding-left: 20px;
}

.btn {
  height: 40px;
  width: 120px;
  color: whitesmoke;
  border: none;
  background: rgb(255, 123, 0);
  margin-top: 10px;
}

.hero-btn {
  background: rgb(155, 79, 163);

  margin-left: 40px;
}
/* section-one */

.section-one {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;  
}

.text-wrapper {
  padding: 50px 70px 50px 150px;
}

.image-content {
  overflow: hidden;
}

.img-1 {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* section-two */

.section-two {
  background-image: url("../public/assets/banner-1.jpg");
  background-size: cover;
  height: 400px;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;

}




/* section-three */

.section-three{
  /* padding: 40px 20px; */
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;  
}

.icon-dash-board {
  padding: 50px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 50px;
}

.icon-content {
  border: rgb(156, 109, 156) solid 1px;
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition-property: transform, background-color;
  transition-duration: 1s;
}

.icon-content:hover {
  background-color: rgb(156, 109, 156);
  transform: scale(1.2) rotate(20deg);
}

.icon-img {
  width: 50px;
}


/* section-four */

.section-four {
  background-image: url("../public/assets/banner-2.jpg");
  background-size: cover;
  height: 400px;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}


.text-wrapper-section-four {
  max-width: 70%;
  /* position: relative;
  left: 550px;
  top: 100px; */
}


/* section-five */
.carousel {
  display: grid;
  grid-template-columns: 1fr 1.2fr;  
  padding: 60px 0;
}

.styling-carousel-1 {
  max-width: 400px;
  padding: 0 30px;
  position: relative;
}

.styling-carousel-2 {
  display: grid;
  justify-content: center;
}


.body-container {
  display: grid;
  justify-content: center;
  position: relative;
  padding: 0 30px;
}

.body-text-content {
  margin: 0 auto;
  width: 80%;
}
.author-date{
  text-align: center;
  color: purple
}

.body-content {
  animation-duration: 1s;
  animation-name: slidein;
  width: 100%;
  padding-bottom: 10px;
}

.backward-arrow {
  border: purple solid 2px;
  width: 8px;
  height: 8px;
  transform: scale(1.2) rotate(45deg);
  border-top: none;
  border-right: none;
  position: absolute;
  left: 5px;
  top: 50%;
  cursor: pointer;

}

.forward-arrow {
  border: purple solid 2px;
  width: 8px;
  height: 8px;
  transform: scale(1.2) rotate(45deg);
  border-bottom: none;
  border-left: none;
  position: absolute;
  right: 5px;
  top: 50%;
  cursor: pointer;
}


.circle-container {
  display: flex;
  padding-left: 100px;
  
}

.circle {
  width: 5px;
  height: 5px;
  border: rgb(236, 205, 146) solid 1px;
  background: rgb(247, 187, 75); 
  border-radius: 50%;
  margin: 0 2px;
}

.circle.active {
  background: red;
  border: red solid 1px;
}

.title-container {
  padding-left: 250px;
  padding-top: 20px;
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}


/* footer */

.footer {
  background-color: whitesmoke;
  padding: 18px;
}

.footer-text {
  font-size: 9px;
  padding-bottom: 8px;
  text-align: center;
}

.footer-img-wrapper {
  margin: 0 auto;
  text-align: center;
}

.footer-img {
  width: 28px;
  margin: 0 5px;
}
